.searchBarContainer{
    margin-right: 300px;
    border-radius: 25px !important;
    
}
.autoCompleteOuterContainer--lupa-search-bar{
    background-color: rgb(42, 165, 77);
    border-radius: 25px;
}
.searchBarIcon{
    background-color: #CE2B2B;
    width: 3rem;
    margin-right: 2px;
    justify-content: center;
    margin-right: -25px;
   
}
.searchBarIcon--lupa-search-bar{
    color:white;
    width: 50px;
}
.triggerContainer--bloque-login{
    margin-right: -1rem;
}
.imageElement--login-content{

    margin-right: -1rem;
}
 @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
        .container{
            padding-left: 2rem;
        }
        
      }
