.sliderLayoutContainer--home_slider{
    max-width: 100%;
    max-height: 80%;
    margin: 0 auto 50px;
}
.paginationDotsContainer--home_slider{
    transform: translateY(30px);
}
.sliderLayoutContainer--home_slider{
    max-height:auto !important
}
.sliderLeftArrow, .sliderRightArrow{
    color: white;
    border: bold;
}
.sliderLeftArrow, .sliderRightArrow:hover{
    color: white
} 
.-container--help-message{
    background-color: brown;
}
.sliderLayoutContainer--slider-product-summary{
    width: 57rem;
}
.slideChildrenContainer--slider-product-summary{
    border: 1px solid #CFCFCF;
    margin: 1rem;
    width: 15rem;
}
.caretIcon--slider-product-summary{
    color: white;
    background: #CFCFCF;
    border-radius: 50px;
    height: 52px;
    width: 52px;
    margin:4rem;
    transform: translate(10px, -144px);
}
.sliderArrows--slider-product-summary{
    background:none;
    background-color: blueviolet;
    border-radius: 50px;
}
.sliderLayoutContainer--slider-product-summary-t{
    width: 40rem;
}
.slideChildrenContainer--slider-product-summary-t{
    border: 1px solid #CFCFCF;
    width: 8rem;
    height: 27rem;
    margin: 1rem;
}
.caretIcon--slider-product-summary-t{
    color: white;
    background: #CFCFCF;
    border-radius: 50px;
    height: 52px;
    width: 52px;
}
.caretIcon--slider-product-summary-t{
    display: flex;
    margin: 4.2rem;
    transform: translate(10px, -131px);
}
.slideChildrenContainer--slider-product-summary-p{
    border: 1px solid #CFCFCF;
    margin: 1rem;
    width: 15rem;
}