.paragraph--section_one--title {
    color: white;
}
.wrapper--texto-cyberlunes{
    padding-right: 55rem;
}
.paragraph--texto-cyberlunes{
   display: flex;
    font-weight: bold;
    font-size: 25px;
}
.paragraph--texto-cyberlunes-phone{
    text-align: left;
    margin-left: 70px;
    font-weight: bold;
    font-size: 17px;
}
.wrapper--texto-cyberlunes-phone{
    transform: translate(-62px, 10px);
}
.paragraph--texto-cyberlunes-t{
    margin-left: 2rem;
    font-weight: bold;
    font-size: 20px;
}
.wrapper--texto-hogar{
    padding-right: 40rem;
}
.paragraph--texto-hogar{
    font-weight: bold;
    font-size:  25px;
}
.paragraph--texto-hogar-phone{
   text-align: left;
    margin-left: 70px;
    font-weight: bold;
    font-size: 17px;
}
.wrapper--texto-hogar-phone{
    transform: translate(-62px, 10px);
}
.paragraph--texto-hogar-t{
    margin-left: 2rem;
    font-weight: bold;
    font-size: 20px;
}
.wrapper--texto-look{
    padding-right:50.5rem;
}
.paragraph--texto-look{
    font-weight: bold;
    font-size:  25px;
}
.paragraph--texto-look-t{
    margin-left: 2rem;
    font-weight: bold;
    font-size: 20px;
}
.paragraph--texto-look-phone{
    text-align: left;
    margin-left: 70px;
    font-weight: bold;
    font-size: 17px;
}
.wrapper--texto-look-phone{
    transform: translate(-62px, 10px);
}
.wrapper--texto-vinilos{
    padding-right:51.8rem;
}
.paragraph--texto-vinilos{
    font-weight: bold;
    font-size:  25px;
}
.paragraph--texto-vinilos-t{
    margin-left: 2rem;
    font-weight: bold;
    font-size: 20px;
}
.paragraph--text-vinilos-phone{
    text-align: left;
    margin-left: 70px;
    font-weight: bold;
    font-size: 17px;
}
.wrapper--text-vinilos-phone{
    transform: translate(-62px, 10px);
}
.wrapper--texto-pinturas{
    padding-right:51.8rem;
}
.paragraph--texto-pinturas{
    font-weight: bold;
    font-size:  25px;
}
.paragraph--texto-pinturas-t{
    margin-left: 2rem;
    font-weight: bold;
    font-size: 20px;
}
.paragraph--text-pinturas-phone{
    text-align: left;
    margin-left: 70px;
    font-weight: bold;
    font-size: 17px;
}
.wrapper--text-pinturas-phone{
    transform: translate(-62px, 10px);
}
.paragraph--texto-baños-phone{
    text-align: left;
    margin-left: 70px;
    font-weight: bold;
    font-size: 17px;
}
.wrapper--texto-look-phone{
    transform: translate(-62px, 10px);
}
.wrapper--footer_copyright{
    transform: translate(47px, 10px);
}
.wrapper--footer_medios_pago{
    transform: translate(312px, 10px);
}
.wrapper--texto-cyberlunes-t{
    transform: translate(-32px, 10px);
}
.wrapper--texto-hogar-t{
    transform: translate(-32px, 10px);
}
.wrapper--texto-look-t{
    transform: translate(-32px, 10px);
}
.wrapper--texto-vinilos-t{
    transform: translate(-32px, 10px);
}
.wrapper--texto-pinturas-t{
    transform: translate(-32px, 10px);
}
.menuContainerNav:first-child{
    display: none;
}