.image{
    width: 30%;
}
.paragraph--section_one--title {
    color: white;
}
.paragraph--texto-cyberlunes{
    font-weight: bold;
    font-size: 25px;
}
.paragraph--texto-cyberlunes-phone{
    text-align: left;
    margin-left: 70px;
    font-weight: bold;
    font-size: 17px;
}
.wrapper--texto-cyberlunes-phone{
    transform: translate(-62px, 10px);
}
.paragraph--texto-cyberlunes-t{
    margin-left: 2rem;
    font-weight: bold;
    font-size: 20px;
}
.wrapper--texto-hogar{
    padding-right: 40rem;
}
.paragraph--texto-hogar{
    font-weight: bold;
    font-size:  25px;
}
.paragraph--texto-hogar-phone{
   text-align: left;
    margin-left: 70px;
    font-weight: bold;
    font-size: 17px;
}
.wrapper--texto-hogar-phone{
    transform: translate(-62px, 10px);
}
.paragraph--texto-hogar-t{
    margin-left: 2rem;
    font-weight: bold;
    font-size: 20px;
}
.paragraph--texto-look{
    font-weight: bold;
    font-size:  25px;
}
.paragraph--texto-look-t{
    margin-left: 2rem;
    font-weight: bold;
    font-size: 20px;
}
.paragraph--texto-look-phone{
    text-align: left;
    margin-left: 70px;
    font-weight: bold;
    font-size: 17px;
}
.wrapper--texto-look-phone{
    transform: translate(-62px, 10px);
}
.paragraph--texto-vinilos{
    font-weight: bold;
    font-size:  25px;
}
.paragraph--texto-vinilos-t{
    margin-left: 2rem;
    font-weight: bold;
    font-size: 20px;
}
.paragraph--text-vinilos-phone{
    text-align: left;
    margin-left: 70px;
    font-weight: bold;
    font-size: 17px;
}
.wrapper--text-vinilos-phone{
    transform: translate(-62px, 10px);
}
.paragraph--texto-pinturas{
    font-weight: bold;
    font-size:  25px;
}
.paragraph--texto-pinturas-t{
    margin-left: 2rem;
    font-weight: bold;
    font-size: 20px;
}
.paragraph--text-pinturas-phone{
    text-align: left;
    margin-left: 70px;
    font-weight: bold;
    font-size: 17px;
}
.wrapper--text-pinturas-phone{
    transform: translate(-62px, 10px);
}
.paragraph--texto-baños-phone{
    text-align: left;
    margin-left: 70px;
    font-weight: bold;
    font-size: 17px;
}
.wrapper--texto-look-phone{
    transform: translate(-62px, 10px);
}
.wrapper--footer_copyright{
    transform: translate(47px, 10px);
}
.wrapper--footer_medios_pago{
    transform: translate(312px, 10px);
}
.wrapper--texto-cyberlunes-t{
    transform: translate(-32px, 10px);
}
.wrapper--texto-hogar-t{
    transform: translate(-32px, 10px);
}
.wrapper--texto-look-t{
    transform: translate(-32px, 10px);
    margin-left: 4%;
}
.wrapper--texto-vinilos-t{
    transform: translate(-32px, 10px);
    margin-left: 4%;
}
.wrapper--texto-pinturas-t{
    transform: translate(-32px, 10px);
    margin-left: 4%;
}
.menuContainerNav:first-child{
    display: none;
}
.paragraph--text-final{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 25px;
    color: #8a8989;
    margin-bottom: 3rem;
}
.paragraph--envio-domicilio{
    font-family: sans-serif;
    font-size: 22px;
    font-weight: bold;
    color:#444747 ;
}
.paragraph--retiro-tienda{
    font-family: sans-serif;
    font-size: 22px;
    font-weight: bold;
    color:#444747 ;
}
.paragraph--compra-facil{
    font-family: sans-serif;
    font-size: 22px;
    font-weight: bold;
    color:#444747 ;
}
.paragraph--footer_easy--title{
    font-family: sans-serif;
    font-size: 22px;
    font-weight: bold;
    color:#444747 ;
}
.wrapper--footer_easy--title{
    transform: translate(22px, 10px); 
}
.paragraph--footer_empresas-title{
    font-family: sans-serif;
    font-size: 22px;
    font-weight: bold;
    color:#444747 ;
}

.paragraph--footer_politicas-title{
    font-family: sans-serif;
    font-size: 22px;
    font-weight: bold;
    color:#444747 ;
}
.wrapper--footer_politicas-title{
    transform: translate(22px, 10px); 
}
.paragraph--text-footer-middle{
    font-family: sans-serif;
    font-size: 14px;
    display: flex;
    align-items: center;
}
/*--- footer down ----*/
.paragraph--footer_contactanos{
    font-style: normal;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    color:#000000 ;
    line-height: 20px;
    font-weight: 700px;
}
.paragraph--footer_call-center--title{
    font-style: normal;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    color:#000000 ;
    line-height: 20px;
    font-weight: 700px;
}
.paragraph--footer_venta-tel{
    font-style: normal;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    color:#000000 ;
    line-height: 20px;
    font-weight: 700px;
}
.wrapper--footer_servicio--cliente{
    margin: -25px 0;
    font-family:sans-serif;
    font-size: 14px;
    color: #666666;
    font-weight: 700;
    line-height: 21px;
}
.wrapper--footer_PQRs{
    margin: -5px 0;
    font-family:sans-serif;
    font-size: 14px;
    color: #666666;
    font-weight: 700;
    line-height: 21px;
}
.paragraph--footer_registro--cliente{
    margin: -5px 0;
    font-family:sans-serif;
    font-size: 14px;
    color: #666666;
    font-weight: 700;
    line-height: 21px;
}
.paragraph--footer_registro--cliente{
    margin: 5px 0;
    font-family:sans-serif;
    font-size: 12px;
    color: #666666;
    font-weight: 500;
    line-height: 21px;
}
.paragraph--footer_horarios-semana{
    margin: 0px 0;
    font-family:sans-serif;
    font-size: 12px;
    color: #666666;
    font-weight: 500;
    line-height: 21px;
}
.paragraph--footer_horarios-finSemana{
    margin: 0 0;
    font-family:sans-serif;
    font-size: 12px;
    color: #666666;
    font-weight: 500;
    line-height: 21px;
}
.paragraph--footer_ciudad{
    margin: 0 0;
    font-family:sans-serif;
    font-size: 12px;
    color: #666666;
    font-weight: 500;
    line-height: 21px;
}
.paragraph--footer_email-clientes{
    margin: 0 0;
    font-family:sans-serif;
    font-size: 12px;
    color: #666666;
    font-weight: 500;
    line-height: 21px;
}
.paragraph--footer_cencosud{
    margin: 0 0;
    font-family:sans-serif;
    font-size: 14px;
    color: #666666;
    font-weight: 500;
    line-height: 21px;
}
.paragraph--footer_avenida{
    margin: 0 0;
    font-family:sans-serif;
    font-size: 14px;
    color: #666666;
    font-weight: 500;
    line-height: 21px;
} 
.paragraph_correo-notificaciones{
    margin: -5px 0;
    font-family:sans-serif;
    font-size: 14px;
    color: #666666;
    font-weight: 500;
    line-height: 21px;
}
.paragraph_email-notification{
    margin:-10px 0;
    font-family:sans-serif;
    font-size: 12px;
    color: #666666;
    font-weight: 500;
    line-height: 21px;
}
.paragraph--footer_horario-tel--semana{
    margin: 0 0;
}
.paragraph--footer_horario-tel--finSemana{
    margin: 0 0;
}
.paragraph--footer_Bogota{
    margin: 0 0;
}
.paragraph--footer_Medellin{
    margin: -5px 0;
}
.paragraph--footer_pais{
    margin: -5px 0;
}
.paragraph--text_pagos--mobile{
    transform: translate(55px, 21px);
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #474747;
}
@media only screen and (max-width: 639px) {
    .wrapper--text-footer-middle{
       text-align: center;
    }
    .wrapper--footer_easy--title{
        transform: translate(-1px, 10px);
    }
    .wrapper--footer_servicio--cliente{
        transform: translate(88px, 1px);
    }
    .wrapper--footer_PQRs{
        transform: translate(134px, 5px);
    }
    .wrapper--footer_registro--cliente{
        transform: translate(25px, -9px);
    }
    .wrapper--footer_horarios-semana{
        transform: translate(25px, -12px);
    }
    .wrapper--footer_horarios-finSemana{
        transform: translate(31px, -13px);
    }
    .wrapper--footer_ciudad{
        transform: translate(88px, -11px);
    }
    .wrapper--footer_email-clientes{
        transform: translate(91px, -14px);
    }
    .wrapper--footer_cencosud{
        transform: translate(-7px, -12px);
    }
    .wrapper--footer_avenida{
        transform: translate(31px, -8px);
    }
    .wrapper--footer_correo-notificaciones{
        transform: translate(9px, -24px);
    }
    .wrapper--footer_email-notification{
        transform: translate(11px, -56px);
    }
    .paragraph--text_pagos--mobile{
        transform: translate(13px,6px);
    }
  }
/*estilos textos tablet*/
@media only screen and (min-width: 640px) and (max-width: 1025px){
    .paragraph--footer_horario-tel--finSemana{
        transform: translate(-15px, 10px); 
    }
    .paragraph--footer_Bogota{
        transform: translate(-87px, 10px);
    }
    .paragraph--footer_pais{
        transform: translate(-56px, 10px);
    }
    .paragraph--footer_Medellin{
        transform: translate(-78px, 10px);
    }
    .paragraph--footer_correo-notificaciones{
        transform:translate(1px, -18px)
    }
    .paragraph--footer_email-notification{
        transform: translate(3px, -58px);
    }
  /*  .paragraph--texto-cyberlunes:before{
    content: "";
    width: 30px;
    height: 2px;
    background-color: red;
    position: absolute;
    bottom: 106px;
    left: 102px;
   } */

}
.wrapper--carrito_checkout{
    transform: translate(358px, 10px);
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 33px;
    color:#444747 ;
   }
   .wrapper--carrito_checkout{
    transform: translate(358px, 10px);
   }
   .paragraph--carrito_checkout{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 33px;
    color:#444747 ;
   }
   .container--Rich_text--bullet{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
   }
   .paragraph--Rich_text--bullet{
    margin:-10px 0;
    font-family:sans-serif;
    font-size: 25px;
    color: #3f3f40;
    font-weight: bold;
    line-height: 38px;
   }
@media only screen and (min-width: 640px) and(max-width: 1300px) {
    .container--texto-cyberlunes{
     margin-left:8%
  }
  .container--texto-hogar{
      margin-left:8%
  }
}
.paragraph--text-pdf{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #444747;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container--text-pdf{
    display: flex;
    align-items: center;
    justify-content: center;
}