.paragraph--section_one--title {
    color: white;
}
.wrapper--texto-cyberlunes{
    padding-right: 55rem;
}
.paragraph--texto-cyberlunes{
   display: flex;
    font-weight: bold;
    font-size: 25px;
}
.paragraph--texto-cyberlunes-phone{
    text-align: left;
    margin-left: 70px;
    font-weight: bold;
    font-size: 15px;
}
.paragraph--texto-cyberlunes-t{
    margin-left: 2rem;
    font-weight: bold;
    font-size: 18px;
}
.wrapper--texto-hogar{
    padding-right: 40rem;
}
.paragraph--texto-hogar{
    font-weight: bold;
    font-size:  25px;
}
.paragraph--texto-hogar-phone{
    margin-left: 70px;
    font-weight: bold;
    font-size:  15px;
}
.paragraph--texto-hogar-t{
    margin-left: 70px;
    font-weight: bold;
    font-size:  15px;
}
.wrapper--texto-look{
    padding-right:50.5rem;
}
.paragraph--texto-look{
    font-weight: bold;
    font-size:  25px;
}
.paragraph--texto-look-phone{
    margin-left: 70px;
    font-weight: bold;
    font-size:  15px;
}.wrapper--texto-vinilos{
    padding-right:51.8rem;
}
.paragraph--texto-vinilos{
    font-weight: bold;
    font-size:  25px;
}
.paragraph--texto-vinilos-phone{
    margin-left: 70px;
    font-weight: bold;
    font-size:  15px;
}
.wrapper--texto-pinturas{
    padding-right:51.8rem;
}
.paragraph--texto-pinturas{
    font-weight: bold;
    font-size:  25px;
}
.paragraph--texto-pinturas-phone{
    margin-left: 70px;
    font-weight: bold;
    font-size:  15px;
}
.wrapper--footer_copyright{
    transform: translate(47px, 10px);
}
.wrapper--footer_medios_pago{
    transform: translate(312px, 10px);
}
