/* estilo caja contenido del home*/
.flexRow--contenido-del-home-row{
  display: flex;
  margin-left: 1px;
  margin-right: 1px;
}
/* estilos flex-layout*/
.flexColChild--contenido-del-home-col{
  display: flex;
  flex: content;
  align-items: center;
  justify-content: center;
}
.flexRowContent{
  display:flexbox;
} 
/*sección cyberlunes*/
.flexCol--layout_col--cyberlunes{
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.flexColChild--layout_col--cyberlunes{
  display: flex;
  height: 1rem;
  padding-bottom: 0rem;
}
/* estilos barra mene | categorías*/
.flexCol--catalogo_bloque{
  width: 6rem;
}
.flexColChild--catalogo_bloque{
  width: 7rem;
}
.flexColChild--ventas_bloque{
  width: 11rem;
}
.flexColChild--ayuda_bloque{
  width: 10.5rem;
}
.flexColChild--asistencia_bloque{
  width: 10rem;
}
.flexColChild--tiendas_bloque{
  width: 7rem;
}
.flexColChild--mundo_bloque{
  width: 10rem;
}
.flexColChild--venta_bloque{
  width: 10rem;
}
.flexColChild--blog_bloque{
  width: 5rem;
}
.flexRow--layout-mega-menu{
  display: flex;
  align-items: center;
  width: 15rem;
  height: 3rem;
  background-color: white;
  margin-left: 2rem;
}
/* contenedor search bar*/
.flexRowContent--flex_search-bar{
  display: flex;
  align-items: center;
  width: 45rem;
  height: 3rem;
}
/* estilos header mobile*/
.flexRow--barra_menu--mobile{
  display: flex;
  justify-content:space-evenly ;
}
.flexRow--barra_menu--mobile{
  display: flex;
  justify-content:space-evenly ;
}
.flexColChild--catalogo_bloque :global(.vtex-menu){
  color: red;
}
.flexCol--col-minicart-empty{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flexRowContent--bloque_footer--middle{
  display: flex;
  align-items: center;
  width: 80%;
}
.flexRow--bloque_footer--middle{
  background-color: #E8E8E8;
  padding: 0px 0 29px;
}
.flexRow--bloque_footer--down{
  background-color:#CFCFCF ;
  padding-top: 1%;
  display: flex;
}
.flexColChild--footer_down-column--one{
  display: flex;
  align-items: flex-start;
}
.flexColChild--bloque-imagen{
  transform: translate(90px, 10px);
}
.flexColChild--bloque-imagen-p{
  display: flex;
  align-items: center;
  justify-content: center;
}
/*----------- footer---------------*/
/* footer top*/
.flexRow--bloque_footer--middle :global(.vtex-store-components){
  display: flex;
  align-items: center;
    justify-content: center;
    width: 100%;
    padding: 70px 0 20px;
    
}
/*row footer top*/
.flexRowContent--bloque_footer--middle{
 /*  transform: translate(120px, 10px); */
  width: 100%;
    padding: 70px 0 20px;
}
.flexRow--footer_top{
  width: 75rem;
  height: 8.5rem;
}
.flexCol--bloque_envio{
  transform: translate(-72px, 10px);
  height: 2.5rem;
}
.flexCol--bloque_retiro{
  transform: translate(-50px, 10px);
  height: 2.5rem;
}
.flexCol--bloque_compra{
  height: 2.5rem;
  transform: translate(10px, 12px);
}
/* footer-middle */
.flexCol--footer_column--one{
  padding: 0 20px;
  width: 10%;
  margin: 0 2%;
  display: flex;
}
.flexCol--footer_column--two{
  padding: 0 20px ;
  width: 21%;
  margin: 0 2%;
}
.flexColChild--footer_column--two{
  padding: 0 20px ;
    width: 21%;
    margin: 0 2%;
    transform: translate(-21px, 10px);
}
.flexCol--footer_column--three{
  padding: 0 20px;
  width: 21%;
  margin: 0 2%;
}
.flexColChild--footer_column--three{
  padding: 0 20px ;
    width: 21%;
    margin: 0 2%;
    transform: translate(-21px, 10px);
}
.flexCol--footer_column--four{
  margin: 0 20px;
  width: 27rem;
}
.flexRowContent--bloque_footer--down{
  width: 90rem;
}
/* footer down */
.flexRowContent--bloque_footer--down{
  width:100%;
}
.flexColChild--footer_down-column--one{
  transform: translate(-146px, -4px);
}
/* footer mobile*/
.flexRow--footer_middle--mobile{
  display:flexbox;
  flex-direction: column;
  background-color: #E8E8E8;
}
.flexRow--footer_down--mobile{
  display:flexbox;
  flex-direction: column;
  background-color: #CFCFCF;
}
.flexCol--logo--mobile{
  display: flex;
    align-items: center;
}
.flexColChild--logo--mobile {
  max-width: 70%;
  display: flex;
  justify-content: center;
}
.flexCol--easy--mobile{
  display: flex;
  align-items: center;
}
.flexCol--politicas--mobile{
  display: flex;
  align-items: center;
}
.flexCol--empresa--mobile{
  display: flex;
  align-items: center;
}
.flexCol--contactos--mobile{
  display: flex;
  align-items: center;
}
.flexCol--call-center--mobile{
  display: flex;
  align-items: center;
}
.flexCol--venta-tel--mobile{
  display: flex;
  align-items: center;
}
.flexCol--logo-call--mobile{
  display: flex;
  align-items: center;
}
.flexColChild--easy--mobile{
  display: flex;
  justify-content: space-between;
  text-align: center;
}
@media only screen and (max-width: 639px) {

  .flexColChild--foot_col--text-uno{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
      }
  .flexCol--footer_text--easy{
    transform: translate(10px, -246px);
  }
  .flexColChild--footer_contenido--easy{
    transform: translate(93px, 10px);
  }
  .flexCol--foot_col--politicas{
    transform: translate(-16px, 283px);
  }
  .flexCol--foot_contenido--pol-mobile{
    transform: translate(0px, 270px);
  }
  .flexColChild--foot_contenido--pol-mobile{
    transform: translate(159px, 10px);
  }
  .flexCol--footer_contenido--easy{
    transform: translate(6px, -262px);
  }
  .flexCol--footer_ventas-tel--mobile{
    height: 3rem;
    transform: translate(2px, -26px);
  }
  .flexCol--footer_contenido-veta--mobile{
    transform: translate(2px, 157px);
  }
  .flexCol--footer_contenido-call--mobile{
    transform: translate(11px, -191px);
  }
  .flexCol--footer_ventas-tel--mobile{
    transform: translate(10px, 297px);
  }
  .flexCol--footer_call-cel--mobile{
    transform: translate(5px, -187px);
  } 
  .flexColChild--footer_tira-mobile{
    transform: translate(93px, -32px);
  }
}
@media only screen and (min-width: 640px) and (max-width: 1025px) {
	.flexRowContent--footer_middle--mobile{
    height: 40rem;
    padding: 70px 0 20px;
  }
  .flexRowContent--footer_down--mobile{
    padding: 10px 10px 0px 10px;
    height: 40rem;
  }
  .flexColChild--footer_tira-mobile{
    transform: translate(49px, 2px);
  }
  .flexColChild--foot_col--text-uno{
    width: 15rem;
  }
  .flexColChild--footer_text--easy{
    transform: translate(-92px, -30px);
    height: 6%;
  }
  .flexColChild--col-dos{
    height: 10%;
    transform: translate(-57px, 10px);
}
  .flexColChild--footer_call-cel--mobil{
    transform: translate(-78px, 10px);
  }
  .flexColChild--foot_col--social{
    transform: translate(-79px, 10px);
  }
  .flexColChild--footer_logo-call--mobile{
    transform: translate(-82px, -100px);
  }
  .flexColChild--footer_ventas-tel--mobile{
    transform: translate(-84px, 150px);
  }
  .flexColChild--foot_col--text-uno{
    transform: translate(-39px, 10px);
  }
  .flexColChild--foot_col--logo{
    transform: translate(-100px, 10px);
  }
  .flexColChild--footer_contenido--easy{
    transform: translate(0px, -40px);
  }
  .flexColChild--foot_col--politicas{
    transform: translate(-138px, 10px);
  }
  .flexColChild--footer_text--empresas{
    transform: translate(10px, 0px);
  }
  .flexColChild--footer_iconos--empresas{
    transform: translate(10px, -10px);
  }
   .flexCol--footer_contenido-veta--mobile{
    transform: translate(4px, -5px);
  } 
  .flexColChild--footer_contactos--mobile{
    transform: translate(-88px, 0px);
  }
  .flexColChild--footer_call-cel--mobile{
    transform: translate(-80px, 10px);
  }
  .flexColChild--footer_contenido-call--mobile{
    transform: translate(10px, -92px);
  }
  .flexCol--total_code--mobile{
    transform: translate(10px, -50px);
  }
}
/* estilos globales del footer mobile*/
  .flexCol--foot_col--logo{
    display: flex;
    align-items: center;
  }
  .flexCol--foot_col--text-uno{
    display: flex;
    align-items: center;
  }
  .flexCol--foot_col--social{
    display: flex;
    align-items: center;
  }
  .flexCol--foot_col--politicas{
    display: flex;
    align-items: center;
  }
  .flexCol--foot_contenido--pol-mobile{
    display: flex;
    align-items: center
  }
  .flexCol--footer_contactos--mobile{
    display: flex;
    align-items: center;
  }
  .flexCol--footer_ventas-tel--mobile{
    display: flex;
    align-items: center;
  }
  .flexCol--footer_contenido-veta--mobile{
    display: flex;
    align-items: center;
  }
  .flexCol--footer_call-cel--mobile{
    display: flex;
    align-items: center;
  }
  .flexCol--footer_contenido-call--mobile{
    display: flex;
    align-items: center;
  }
  .flexCol--footer_logo-call--mobile{
    display: flex;
    align-items: center;
  }
  .flexCol--footer_medios-mobile{
    display: flex;
    align-items: center;
  }
  .flexCol--footer_contenido-veta--mobile{
    height: 7rem;
  }
  .flexColChild--total_code--mobile{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }