/* estilos background lupa search bar*/
.searchBarIcon{
    display: flex;
    align-items: center;
    background-image: url(assets/img/icon-lupa.jpg);
    background-color: #CE2B2B; 
    width:5rem;
    margin-right: 2px;
    justify-content: center;
    margin-right: -16px;
   
}
.searchBarContainer{
    padding-left:0.5rem;
}
/* estilos color lupa search bar*/
.searchBarIcon--lupa-search-bar{
    color:white;
    width: 50px;
}
/* estilos login*/
.imageElement--login-content{
    cursor: pointer;
}

.triggerContainer--bloque-login{
    margin-right: -1rem;
}
.imageElement--login-content{

    margin-right: -1rem;
}
.drawer-menu-d:hover{
    display: block;
}
.autoCompleteOuterContainer--lupa-search-bar{
    height: 2rem;
    margin-left: 2.2rem;
}
.searchBarContainer :global(.vtex-input-prefix__group){
    border-radius: 0;
   border: 1px solid #dfdede;
    height: 46px;
  }
.searchBarContainer :global(.vtex-store-components){
    background-image: url(assets/img/icon-lupa.jpg);
  }
    .logoImage{
    width: 100px;
    height: 100px;
} 
.imageElement--login-content{
    width: 80px;
}
.imageElement--logo__footer--pagos{
    height: 17px;
    transform: translate(-58px, 40px);
}
@media screen and (max-width:420px) {
    .logoImage{
        height:100%;
        transform: translate(-30px,0px);
    }
    .searchBarInnerContainer--lupa-search-bar{
        width:12rem;
        transform: translate(-45px,-5px);
    }
}
@media only screen and (min-width: 640px) and (max-width: 1025px) {
	.flexCol--col-uno{
        max-width: 58rem;
        background-color: aqua;
    }

}