.paginationDotsContainer{
    bottom: 50px;
    position: absolute;
    
}
/*estilos tablet*/
.flexRow--contenido-tablet-row{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
}
.flexColChild--contenido-tablet-col{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
}

