/*estilos barra de menu*/
.styledLinkContent:hover{
    color:red;
}
.styledLinkContent{
    /* font-style: italic; */
    font-weight: bold;
    font-size: 14px;
}
.stretchChildrenWidth{
   width: 7%;
}
.menuContainerNav{
    position: relative;
    width: 7%;
    /* border-left-style:solid; */
}
