.menuContainerNav{
    z-index:2; 
    padding-left:28px; 
    left:12px;
    top:auto;
    /* width: 71rem; */
    transform: translate(27px, 21px);
} 
.styledLinkContent:hover{
    color: red;
    background-color: white;
}
.menuItem{
    background-color: white;
    height: 25px;
}
.menuIcon--bloque_drawer{
    size: 25px;
}.menuContainer{
    overflow: visible;
}
