/*tamaño carrito*/
.cartIcon{
  max-width: 40px;
  max-height: 40px;
}
/*estilos burbuja de cantidades*/
.minicartQuantityBadge{
  top: 0px;
  right: -10px;
  background-color: whitesmoke;
  color: #CE2B2B;
  font-weight: bold;
}
/* distancia entra user y carrito*/
.minicartWrapperContainer{
  margin-left: -16px;
}
