.headerRowContainer--header_top-d{
        background-color:white;
    }
/* estilo del menu medio*/
.headerRowContentContainer--header_down{
    background-color: #FAFAFA;
    height: 45px;
   
}
.menuItem--isClosed{
    margin: 28px;
}
.headerRow--header_top-mobile{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.headerRowContentContainer--header_top-mobile{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.headerRowContainer--header_top-mobile{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.headerRowContentContainer--header_middle{
    display: flex;
    background-color: white;
    height: 100px;
}
.minicartWrapperContainer--minicart-custom{
    transform: translate(-42px, 3px);
}
.triggerContainer--bloque-login{
    transform: translate(-42px, 10px);
}
.headerStickyRow--header_down{
    display: flex;
    height: auto;
}

.headerRow--header_down{
    display: flex;
    height: auto;
    width: 100%;
}
