.drawer-menu-d:hover{
    display: block;
}
.autoCompleteOuterContainer--lupa-search-bar{
    height: 2rem;
    margin-left: 2.2rem;
}
.searchBarContainer :global(.vtex-input-prefix__group){
    border-radius: 0;
   border: 1px solid #dfdede;
    height: 46px;
  }
.searchBarContainer :global(.vtex-store-components){
    background-image: url(assets/img/icon-lupa.jpg);
  }
    .logoImage{
    width: 100px;
    height: 100px;
} 
.imageElement--login-content{
    width: 80px;
}
.imageElement--logo__footer--pagos{
    height: 17px;
    transform: translate(-58px, 40px);
}
@media screen and (max-width:420px) {
    .logoImage{
        height:100%;
        transform: translate(-30px,0px);
    }
    .searchBarInnerContainer--lupa-search-bar{
        width:12rem;
        transform: translate(-45px,-5px);
    }
}
@media screen and (max-width:1025px) {
   .flexRow--footer_middle--mobile{
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
   }
}