
    .searchBarInnerContainer{
       /* margin-right: 500px;9*/
        padding-right: 505px;
    }
    
    /*vtex.store-icons*/

    .cartIcon{
        src: url("assets/img/icon-car.jpg") !important;
    }
    .openIconContainer{
        padding: 55px;
      }