/*estilos barra de menu*/
.styledLinkContent:hover{
    color:red;
}
.styledLinkContent{
    /* font-style: italic; */
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;
}
.stretchChildrenWidth{
   width: 7%;
}
.menuContainerNav{
    position: relative;
    width: 7%;
    /* border-left-style:solid; */
}
.styledLinkContent :global(.vtex-menu){
    font-size:55px;
}
@media only screen and (max-width: 639px){
    .styledLinkContent{
        text-align: center;
        align-self: center;
        align-items: center;
        justify-items: center;
        justify-content: center;
    }
}
.menuItem{
    display: flex;
    
}

.styledLinkContainer--item-catalogo{
    margin-left: 2vmax;
    margin-left: 0.5vmin; 
    margin-right: 2vmax;
    margin-right: 0.5vmin; 
}
.styledLinkContainer--ventas-tel{
    margin-left: 2vmax;
    margin-left: 0.5vmin;
    margin-right: 2vmax;
    margin-right: 0.5vmin;
}
.styledLinkContainer--centro_ayuda{
    margin-left: 2vmax;
    margin-left: 0.5vmin;
    margin-right: 2vmax;
    margin-right: 0.5vmin;
}
.styledLinkContainer--asistencia-web{
    margin-left: 2vmax;
    margin-left: 0.5vmin;
    margin-right: 2vmax;
    margin-right: 0.5vmin;
}
.styledLinkContainer--tiendas{
    margin-left: 2vmax;
    margin-left: 0.5vmin;
    margin-right: 2vmax;
    margin-right: 0.5vmin;
}
.styledLinkContainer--mundo-experto{
    margin-left: 2vmax;
    margin-left: 0.5vmin;
    margin-right: 2vmax;
    margin-right: 0.5vmin;
}
.styledLinkContainer--venta-empresa{
    margin-left: 2vmax;
    margin-left: 0.5vmin;
    margin-right: 2vmax;
    margin-right: 0.5vmin;
}
.styledLinkContainer--blog{
    margin-left: 2vmax;
    margin-left: 0.5vmin;
    margin-right: 2vmax;
    margin-right: 0.5vmin;
}
.styledLinkContainer--servicios{
    margin-left: 2vmax;
    margin-left: 0.5vmin;
    margin-right: 2vmax;
    margin-right: 0.5vmin;
}

/*estilos barra de menu*/
.styledLinkContent:hover{
    color:red;
}
.styledLinkContent{
    /* font-style: italic; */
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
    align-items: center;
}
.stretchChildrenWidth{
   width: 7%;
}
.menuContainerNav{
    position: relative;
    width: 7%;
    /* border-left-style:solid; */
}
.styledLinkContent :global(.vtex-menu){
    font-size:55px;
}
@media only screen and (max-width: 639px){
    .styledLinkContent{
        text-align: center;
        align-self: center;
        align-items: center;
        justify-items: center;
        justify-content: center;
    }
}

@media only screen  and (min-width: 1235px) and (max-width: 1534px){
   
   
}
.flex-row{
    display: flex;
}
.menuItem--isClosed{
    display: inline-block;
}